#footer{
	overflow: hidden;
	.navbar{
		margin-bottom: 0;
	}
	.navbar-nav{
		float: none;
		margin: 0 auto;
		text-align: center;
		> li {
			float: none;
			display: inline-block;
		}
		> li + li{
			a{
				position: relative;
				&:after{
					position: absolute;
					content: "|";
					left: -5px;
					@media (max-width: $screen-sm-min){
						display: none;
					}
				}
			}
		}
	}
	@media (max-width: $screen-sm-max){
		.nav.navbar-nav,
		.text-right.small{
			text-align: center !important;
		}
	}
}