<!DOCTYPE html>
html(lang="en")
    include global/head
    +head(
    'Limoncello (liqueur de citron)'
    )
    include mixin/all-mixin
    body
        include global/header-aperitif
        section.article
            .container
                .row
                    .col-md-12
                        .banner
                            img.img-responsive.my-3(src="https://loremflickr.com/g/970/250/mac")
                .row
                    .col-md-8
                        h1 Limoncello (liqueur de citron)
                        p
                            | Un concentré
                            | de goût sur qui ne manquera certainement pas de vous faire grimacer.
                            | Pour nous donner bonne conscience, nous n'avons qu'à nous convaincre
                            | qu'il s'agit d'une boisson enrichie aux vitamines C du
                            a(href='#')  citron
                            | . J'en
                            |       doute.
                        img.img-responsive.mb-3(src="https://loremflickr.com/g/800/440/lemon")
                        include global/socials-with-print
                        .d-block
                            hr
                        h3 Ingrédients
                        ul.pl-3.mb-3
                            li 1 litre d’alcool à 90 °
                            li 10 citrons non traités
                            li 700 g de sucre
                            li 1 litre d’eau
                        a(href="#").bs-callout.bs-callout-success
                            h4 A Découvrir!!
                            p Toutes nos
                                span.text-bold  138
                                |  Recettes aux citrons

                        h3 Préparation
                        p Eplucher les citrons avec un économe et récupérer les zestes. Il est important d’avoir les zestes sans la partie blanche de l’épluchure de manière à éviter que votre limoncello ne soit trop amère.
                        p Placer les zestes dans un bocal hermétique avec l’alcool
                        p Laisser reposer dans un endroit à l’abri de la lumière pendant 30 jours en prenant soin de remuer tout les jours le mélange.
                        p Au bout d’une semaine, préparer un sirop de sucre avec le litre d’eau et le sucre : faire bouillir l’eau et y ajouter le sucre et attendre que tout le sucre soit dilué dans l’eau.
                        p Filtrer l’alcool pour retirer tous les morceaux de zestes et ajouter le sirop de sucre.
                        p Laisser reposer 1 mois avant dégustation
                        p Servir le limoncello bien frais à l’apéritif mais en petite dose.
                        h3 Idées, trucs & astuces
                        p Si vous disposez d’eau de vie à 45 °, il vous suffit d’en employer 2 litres et de vous passer d’eau. Vous pouvez employer de la vodka comme alcool de base et vous obtiendrez une délicieuse vodka aromatisée au citron.
                        p Comme beaucoup de liqueur de fruit, le limoncello est une base qui vous servira dans de nombreux
                            a(href="#")  desserts
                            | . Je pense entre autre à des
                            a(href="#")  tiramisu
                            |  modifiés ou encore à des sabayons au limoncello.
                        a(href="#").banner.my-3
                            img.text-center.mx-auto(src="https://loremflickr.com/g/300/300/london")

                        h3 Suggestions
                        ul.mb-3
                            li.d-block.mb-2
                                a.text-primary.text-underline(href='#') Liqueur de prunes
                            li.d-block.mb-2
                                a.text-primary.text-underline(href='#') Liqueur de fraises
                            li.d-block.mb-2
                                a.text-primary.text-underline(href='#') Liqueur de prunes digestive
                            li.d-block.mb-2
                                a.text-primary.text-underline(href='#') Margharita
                            li.d-block.mb-2
                                a.text-primary.text-underline(href='#') Apéritif aux noix
                        .banner.my-3
                            img.text-center.mx-auto(src="https://loremflickr.com/g/500/125/london")
                        include global/reccetes-accordion
                        hr
                        include global/socials-with-print
                        hr

                        // Comment with nested comments
                        .media.mb-4
                            .media-heading.clearfix
                                .d-inline-block.pull-left
                                    img.d-block.rounded-circle.mr-3(src='http://placehold.it/50x50', alt='')
                                .d-inline-block.pull-left
                                    h5.mt-0 Commenter Name
                                    p 22 10 2005 - 11:39
                            .media-body
                                p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                .media.mt-4
                                    .media-heading.clearfix
                                        .d-inline-block.pull-left
                                            img.d-block.rounded-circle.mr-3(src='http://placehold.it/50x50', alt='')
                                        .d-inline-block.pull-left
                                            h5.mt-0 Commenter Name
                                            p 22 10 2005 - 11:39
                                    .media-body
                                        p
                                            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                .media.mt-4
                                    .media-heading.clearfix
                                        .d-inline-block.pull-left
                                            img.d-block.rounded-circle.mr-3(src='http://placehold.it/50x50', alt='')
                                        .d-inline-block.pull-left
                                            h5.mt-0 Commenter Name
                                            p 22 10 2005 - 11:39
                                    .media-body
                                        p
                                            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        // Single Comment
                        .media.mb-4
                            .media-heading.clearfix
                                .d-inline-block.pull-left
                                    img.d-block.rounded-circle.mr-3(src='http://placehold.it/50x50', alt='')
                                .d-inline-block.pull-left
                                    h5.mt-0 Commenter Name
                                    p 22 10 2005 - 11:39
                            .media-body
                                p
                                    | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    | t nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
                                    | vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                    | fringilla. Donec lacinia congue felis in faucibus.
                        // Comments Form
                        .card.my-4
                            h3.card-header Votre avis sur cette bière ...?
                            p Partagez avec nous votre point de vue sur cette bière
                            .card-body
                                form
                                    .row
                                        .col-md-6
                                            .form-group
                                                label(for='email') Votre Nom:
                                                    span.red *
                                                input#email.form-control(type='email', required)
                                        .col-md-6
                                            p Les champs marqués d'un * sont obligatoires

                                    .row
                                        .col-sm-6
                                            .form-group
                                                label(for='pwd') Votre email:
                                                    span.red *
                                                input#pwd.form-control(type='password', required)
                                            .form-group
                                                label(for='url-site') Votre site:
                                                input#url-site.form-control(type='text', placeholder="https://...")
                                        .col-sm-6
                                            p Afin d'éviter tout risque de spam, votre email ne sera en encun cas affiché sur le site.
                                    .row
                                        .col-sm-12
                                            .form-group
                                                label(for="message") Votre commentaire
                                                    span.red *
                                                textarea#message.form-control(rows='3', required)
                                    .row
                                        .form-group.pull-right
                                            button.btn.btn-primary(type='submit') Submit
                    .col-md-4
                        a(href="#").banner.my-3
                            img.img-responsive.mb-3(src="https://loremflickr.com/g/300/600/paris")
                        a(href="#").thumbnail.thumbnail-blocrecipe
                            img(src="https://loremflickr.com/g/450/350/food")
                            h4.mb-1.text-bold Roulades de poivron au fromage ail et fines herbes
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                        hr
                        a(href="#").thumbnail.thumbnail-blocrecipe
                            img(src="https://loremflickr.com/g/450/350/food")
                            h4.mb-1.text-bold Roulades de poivron au fromage ail et fines herbes
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                        hr
                        a(href="#").thumbnail.thumbnail-blocrecipe
                            img(src="https://loremflickr.com/g/450/350/food")
                            h4.mb-1.text-bold Roulades de poivron au fromage ail et fines herbes
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                        hr
                        a(href="#").thumbnail.thumbnail-blocrecipe
                            img(src="https://loremflickr.com/g/450/350/food")
                            h4.mb-1.text-bold Roulades de poivron au fromage ail et fines herbes
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                        hr
                        a(href="#").banner.my-3
                            img.img-responsive.mb-3(src="https://loremflickr.com/g/300/300/london")
                        a(href="#").thumbnail.thumbnail-blocrecipe
                            img(src="https://loremflickr.com/g/450/350/food")
                            h4.mb-1.text-bold Roulades de poivron au fromage ail et fines herbes
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                        hr
                        a(href="#").thumbnail.thumbnail-blocrecipe
                            img(src="https://loremflickr.com/g/450/350/food")
                            h4.mb-1.text-bold Roulades de poivron au fromage ail et fines herbes
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                            p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.
                        hr
                        .thumbnail.center.well.well-sm.bg-danger.mb-3
                            h2.text-white Inscrivez-vous à notre newsletter
                            p.text-white La dose gourmande hebodmadaire pour les amoureux du goût! Chaque semaine, découvrez des recettes
                                | garanties
                                | 100% plaisir et de saison!
                            form(action='', method='post', role='form')
                                .input-group
                                    input.form-control(type='text', id='', name='', placeholder='votre email')
                                    .input-group-btn
                                        button.btn.btn-default(type='submit')
                                            i.fa.fa-chevron-right

include global/footer-aperitif