<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Recettes de cuisine originales pour Epicuriennes et Epicuriens '
	)
	include mixin/all-mixin
	body
		include global/header-aperitif
		section.search.mb-3
			.container
				.row
					.col-md-12
						ul.nav.nav-pills.nav-stacked
							li
								a(href='homepage.html') Homepage(index)
							li
								a(href='article.html') Article
							li
								a(href='aperitif.html') Aperitif
							li
								a(href='biere.html') Biere
							li
								a(href='blog-produit.html') Blog produit
							li
								a(href='recipes-aperitif.html') Recipes Aperitif
							li
								a(href='glossary.html') Glossary








