<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Apéritifs : les meilleures Recettes pour lapéritif '
	)
	include mixin/all-mixin
	body
		include global/header-recipes-aperitif
		section.combikeyMap.bg-gray.py-3
			.container
				.row.p-3
					.col-md-12.hidden-sm.hidden-xs
						a(href="#").banner.mb-3
							img(src="https://loremflickr.com/g/1920/350/paris")
				.row
					h1.text-white.text-center Recettes pour l'apéritif
				.row
					.col-md-3.col-sm-6
						h4.text-white.text-center Dans un menu
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Mises en bouche
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Entrées et hors d'oeuvres
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Accompagnements
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Entrées froides
					.col-md-3.col-sm-6
						h4.text-white.text-center Pour préparer
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Accompagnement pour apéritif
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| EAmuses bouche
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Boisson
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Cocktail
					.col-md-3.col-sm-6
						h4.text-white.text-center Avec ces ingrédients
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Fromage
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Rhum
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Alcool
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Foie gras
					.col-md-3.col-sm-6
						h4.text-white.text-center Pour une fête ou occasion
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Apéritif dînatoire
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Recette de fête - cuisine de fête
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Italie (cuisine italienne)
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Friture



		section.aperitif
			.container
				.row.py-3
					.col-md-8.col-xs-12
						section.blocrecipe
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Tomates au Roquefort
								p Militons
									| pour ne plus servir systématiquement les chips et les cacahuètes
									| avec l'apéro. Nous pouvons proposer ces petites tomates si
									| délicieusement farcies. Vous verrez à quel vitesse le
									| plateau sera vidé !
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Petits Choux farcis au foie gras
								p Un petit four sous la forme d’un petit chou délicieusement farci de foie gras à servir en guise
									| d’apéritif et ou éventuellement
									| comme mise en bouche. s. Vous verrez à quel vitesse le
									| plateau sera vidé !
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Champignons farcis au fromage de chèvre au miel et fines herbes
								p Ces champignons farcis sont un véritable délice que vous vous ferez un plaisir d’engloutir en guise d’amuse bouche à l’apéro. Cela accompagne à merveille les viandes rouges ou les plats en sauce au vin rouge.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Sauce yaourt au concombre
								p Cette recette n'est jamais qu'une traduction pour l'apéritif de l'accompagnement grec Tsaziki duquel on
									| a retiré l'ail afin. Je sais que les amateurs de concombre apprécieront beaucoup cette recettes.
									| errez à quel vitesse le
									| plateau sera vidé !
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Roulades de poivron au fromage ail et fines herbes
								p Une sorte de petite crêpe roulée faite à base de poivrons farci de fromage frais relevé d’ail et fines herbes. Cela vous fera de délicieuses bouchées pour l’apéritif ou une entrée très originale à base de poivron.

					.col-md-4.col-xs-12
						a(href="#").banner.mb-3.hidden-sm.hidden-xs
							img(src="https://loremflickr.com/g/450/700/paris")
		include global/footer-aperitif

