<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Apéritifs : les meilleures Recettes pour lapéritif '
	)
	include mixin/all-mixin
	body
		include global/header
		section.combikeyMap.bg-gray
			.container
				.row.p-sm-0.p-3
					.col-md-12.hidden-sm.hidden-xs
						a(href="#").banner.mb-3
							img(src="https://loremflickr.com/g/1920/350/paris")
				.row
					h1.text-white.text-center Recettes pour l'apéritif
				.row
					.col-md-3.col-sm-6
						h4.text-white.text-center Dans un menu
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Mises en bouche
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Entrées et hors d'oeuvres
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Accompagnements
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Entrées froides
					.col-md-3.col-sm-6
						h4.text-white.text-center Pour préparer
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Accompagnement pour apéritif
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| EAmuses bouche
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Boisson
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Cocktail
					.col-md-3.col-sm-6
						h4.text-white.text-center Avec ces ingrédients
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Fromage
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Rhum
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Alcool
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Foie gras
					.col-md-3.col-sm-6
						h4.text-white.text-center Pour une fête ou occasion
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Apéritif dînatoire
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Recette de fête - cuisine de fête
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Italie (cuisine italienne)
						.d-block.mb-3
							a.btn.btn-combi.w-100(href='#')
								i.fa.fa-chevron-right
								| Friture



		section.aperitif
			.container
				.row.py-3
					.col-md-8.col-xs-12
						section.blocrecipe
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Mojito (cocktail Cuba)
								p Véritable boisson nationale à Cuba, c’est un cocktail très rafraîchissant qui vous fera danser la salsa tout le long de la nuit. Cette recette essaie de reproduire avec fidélité le Mojito tel qu'il est réalisé à Cuba dans le vieux centre de la Havane où j'en ai bu des litres.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Limoncello (liqueur de citron)
								p Un concentré
									| de goût sur qui ne manquera certainement pas de vous faire grimacer.
									| Pour nous donner bonne conscience, nous n'avons qu'à nous convaincre
									| qu'il s'agit d'une boisson enrichie aux vitamines C du citron. J'en
									| doute.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Champignons farcis au fromage de chèvre au miel et fines herbes
								p Ces champignons farcis sont un véritable délice que vous vous ferez un plaisir d’engloutir en guise d’amuse bouche à l’apéro. Cela accompagne à merveille les viandes rouges ou les plats en sauce au vin rouge.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Tomates confites
								p J’anticipe un peu l’été avec une recette de base qui vous propose tout le registre des saveurs méditerranéennes. Les tomates confites sont une merveille à ajouter dans vos salades ou en lanière dans les pâtes. J’aime aussi les employer hachées pour remplacer du concentré de tomate. C'est aussi très bon à grignoter à l'apéro.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Chipirons sautés à l’ail et au persil (petits calamars)
								p Encore une petite recette qui nous vient en direct du Pays basque et que j’ai pu déguster à Saint-Jean de Luz. Il s’agit tout simplement de petits calamars que vous faites revenir tout simplement dans une persillade. C’est tout simple à réaliser et cela vous fait une délicieuse entrée ou mieux, de délicieux tapas à servir à l’apéritif
							//repeat
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Mojito (cocktail Cuba)
								p Véritable boisson nationale à Cuba, c’est un cocktail très rafraîchissant qui vous fera danser la salsa tout le long de la nuit. Cette recette essaie de reproduire avec fidélité le Mojito tel qu'il est réalisé à Cuba dans le vieux centre de la Havane où j'en ai bu des litres.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Limoncello (liqueur de citron)
								p Un concentré
									| de goût sur qui ne manquera certainement pas de vous faire grimacer.
									| Pour nous donner bonne conscience, nous n'avons qu'à nous convaincre
									| qu'il s'agit d'une boisson enrichie aux vitamines C du citron. J'en
									| doute.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Champignons farcis au fromage de chèvre au miel et fines herbes
								p Ces champignons farcis sont un véritable délice que vous vous ferez un plaisir d’engloutir en guise d’amuse bouche à l’apéro. Cela accompagne à merveille les viandes rouges ou les plats en sauce au vin rouge.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Tomates confites
								p J’anticipe un peu l’été avec une recette de base qui vous propose tout le registre des saveurs méditerranéennes. Les tomates confites sont une merveille à ajouter dans vos salades ou en lanière dans les pâtes. J’aime aussi les employer hachées pour remplacer du concentré de tomate. C'est aussi très bon à grignoter à l'apéro.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Chipirons sautés à l’ail et au persil (petits calamars)
								p Encore une petite recette qui nous vient en direct du Pays basque et que j’ai pu déguster à Saint-Jean de Luz. Il s’agit tout simplement de petits calamars que vous faites revenir tout simplement dans une persillade. C’est tout simple à réaliser et cela vous fait une délicieuse entrée ou mieux, de délicieux tapas à servir à l’apéritif
							//repeat
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Mojito (cocktail Cuba)
								p Véritable boisson nationale à Cuba, c’est un cocktail très rafraîchissant qui vous fera danser la salsa tout le long de la nuit. Cette recette essaie de reproduire avec fidélité le Mojito tel qu'il est réalisé à Cuba dans le vieux centre de la Havane où j'en ai bu des litres.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Limoncello (liqueur de citron)
								p Un concentré
									| de goût sur qui ne manquera certainement pas de vous faire grimacer.
									| Pour nous donner bonne conscience, nous n'avons qu'à nous convaincre
									| qu'il s'agit d'une boisson enrichie aux vitamines C du citron. J'en
									| doute.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Champignons farcis au fromage de chèvre au miel et fines herbes
								p Ces champignons farcis sont un véritable délice que vous vous ferez un plaisir d’engloutir en guise d’amuse bouche à l’apéro. Cela accompagne à merveille les viandes rouges ou les plats en sauce au vin rouge.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Tomates confites
								p J’anticipe un peu l’été avec une recette de base qui vous propose tout le registre des saveurs méditerranéennes. Les tomates confites sont une merveille à ajouter dans vos salades ou en lanière dans les pâtes. J’aime aussi les employer hachées pour remplacer du concentré de tomate. C'est aussi très bon à grignoter à l'apéro.
							a(href="#").thumbnail.thumbnail-aperitif
								i.fa.fa-chevron-right
								h4.mb-1 Chipirons sautés à l’ail et au persil (petits calamars)
								p Encore une petite recette qui nous vient en direct du Pays basque et que j’ai pu déguster à Saint-Jean de Luz. Il s’agit tout simplement de petits calamars que vous faites revenir tout simplement dans une persillade. C’est tout simple à réaliser et cela vous fait une délicieuse entrée ou mieux, de délicieux tapas à servir à l’apéritif

					.col-md-4.col-xs-12
						a(href="#").banner.mb-3.hidden-sm.hidden-xs
							img(src="https://loremflickr.com/g/450/700/paris")
						p 210 Recettes pour l'apéritif pour réaliser des accompagnement pour apéritif, amuses bouche, boisson, cocktail
							|  et amuse gueule à base de fromage, rhum, alcool, foie gras et citron
						.d-block.clearfix
							.d-inline-block.vtop
								a.btn.btn-block.btn-social.btn-facebook
									i.fa.fa-facebook
									| Partager
									span.badge 12
							.d-inline-block.vtop
								.c-rating
									.c-rating__badge 4.0
									.c-rating__display(aria-hidden="true")
										span.c-rating__stars.c-rating__stars--background
										span.c-rating__stars(style="width: calc(100% * (4.0 / 5))")
									a.c-rating__count(href="#") (35 avis)
		include global/footer-aperitif

