.alphabet.btn-toolbar.mb-3
    .btn-group.btn-group-sm
        a.btn.btn-danger A
        a.btn.btn-danger B
        a.btn.btn-danger C
        a.btn.btn-danger D
        a.btn.btn-danger E
        a.btn.btn-danger F
        a.btn.btn-danger G
        a.btn.btn-danger H
        a.btn.btn-danger I
        a.btn.btn-danger J
        a.btn.btn-danger K
        a.btn.btn-danger L
        a.btn.btn-danger M
        a.btn.btn-danger N
        a.btn.btn-danger O
        a.btn.btn-danger P
        a.btn.btn-danger Q
        a.btn.btn-danger R
        a.btn.btn-danger S
        a.btn.btn-danger T
        a.btn.btn-default U
        a.btn.btn-danger V
        a.btn.btn-danger W
        a.btn.btn-default X
        a.btn.btn-danger Y
        a.btn.btn-danger Z

ul.dictionary
    li
        a(href="#") Abdominoplasti
    li
        a(href="#") Absans
    li
        a(href="#") Abse
    li
        a(href="#") Absorbsiyon
    li
        a(href="#") Adrenalin
    li
        a(href="#") Afazi
    li
        a(href="#") Afrodizyak
    li
        a(href="#") Agorafobi
    li
        a(href="#") Akne
    li
        a(href="#") Akondroplazi
    li
        a(href="#") Amnezi
    li
        a(href="#") Aneljezik
    li
        a(href="#") Anemi
    li
        a(href="#") Anemik
    li
        a(href="#") Anestezi
    li
        a(href="#") Ani Bebek Ölümü Sendromu
    li
        a(href="#") Anjin veya Göğüs Anjini (Angina Pectoris)
    li
        a(href="#") Anksiete
    li
        a(href="#") Anoreksi
    li
        a(href="#") Ansefalit
    li
        a(href="#") Antienflamatuar
    li
        a(href="#") Antikoagülen
    li
        a(href="#") Antiseptik
    li
        a(href="#") Aort
    li
        a(href="#") Aortik Anevrizma
    li
        a(href="#") Apandisit
    li
        a(href="#") Apati
    li
        a(href="#") Apne
    li
        a(href="#") Apopleksi
    li
        a(href="#") Araknoid
    li
        a(href="#") Arteriosklerosis
    li
        a(href="#") Arteriyogram (Koroner)
    li
        a(href="#") Artroskopi
    li
        a(href="#") Aşil Tendonu
    li
        a(href="#") Atardamarlar (Arterler)
    li
        a(href="#") Cerahat
    li
        a(href="#") Cerrahi
    li
        a(href="#") Çıban
    li
        a(href="#") Çil
    li
        a(href="#") Cinsel Organ Siğilleri ( Kondiloma )
    li
        a(href="#") Debilite
    li
        a(href="#") Defibrilatör
    li
        a(href="#") Deformite
    li
        a(href="#") Dejenerasyon
    li
        a(href="#") Dekübitis
    li
        a(href="#") Demans
    li
        a(href="#") Demoralizasyon
    li
        a(href="#") Deontoloji
    li
        a(href="#") Depresyon
    li
        a(href="#") Dermatit
    li
        a(href="#") Dermotoloji
    li
        a(href="#") Doymuş Yağ
    li
        a(href="#") Düşük
    li
        a(href="#") Edema
    li
        a(href="#") Efervesan
    li
        a(href="#") Egzama
    li
        a(href="#") Eklampsi
    li
        a(href="#") Ekokardiyografi
    li
        a(href="#") Elektrokardiyogram
    li
        a(href="#") Emg (Elektromiyografi)
    li
        a(href="#") Endokrinoloji
    li
        a(href="#") Enürezis N okturna
    li
        a(href="#") Erken B oşalma
    li
        a(href="#") Fasial Paralizi
    li
        a(href="#") Fenilketonuri
    li
        a(href="#") Fibrom
    li
        a(href="#") Gangren
    li
        a(href="#") Gastrit
    li
        a(href="#") Gastrodüodenit
    li
        a(href="#") Gastroenterit
    li
        a(href="#") Gastroenteroloji
    li
        a(href="#") Gastroözofageal Reflü Hastalığı
    li
        a(href="#") Gastroskopi
    li
        a(href="#") Grip (influenza)
    li
        a(href="#") Halüsinasyon
    li
        a(href="#") Hematom
    li
        a(href="#") Hepatit (Sarılık)
    li
        a(href="#") Herpes
    li
        a(href="#") Herpes Simpleks
    li
        a(href="#") ıdiopatik
    li
        a(href="#") İkter
    li
        a(href="#") İktus
    li
        a(href="#") İmmünite
    li
        a(href="#") İnflamasyon
    li
        a(href="#") İnmemiş Testis ( Kriptorşidik testis)
    li
        a(href="#") Jinekoloji
    li
        a(href="#") Kanser
    li
        a(href="#") Keratin
    li
        a(href="#") Keratoma
    li
        a(href="#") Kist
    li
        a(href="#") Kızamık
    li
        a(href="#") Klostrofobi
    li
        a(href="#") Kolesterol
    li
        a(href="#") Kollateral Dolaşım
    li
        a(href="#") Koroner Arter Hastalığı veya Koroner Damar Sertliğ
    li
        a(href="#") Koroner Arterler
    li
        a(href="#") Koroner Oklüzyon
    li
        a(href="#") Koroner Tromboz
    li
        a(href="#") Laparoskopi
    li
        a(href="#") Larenjit
    li
        a(href="#") Lezyon
    li
        a(href="#") Malfonksiyon
    li
        a(href="#") Malin melonom (Cilt Kanseri)
    li
        a(href="#") Mani
    li
        a(href="#") Mastektomi
    li
        a(href="#") Menenjit
    li
        a(href="#") Menopoz
    li
        a(href="#") Menstrual Siklus
    li
        a(href="#") Mentruasyon
    li
        a(href="#") Metastaz
    li
        a(href="#") Mikrokardiyal Enfarktüs
    li
        a(href="#") Miyokart
    li
        a(href="#") Miyom
    li
        a(href="#") Mukoza
    li
        a(href="#") Mukoza
    li
        a(href="#") Narkoepsi
    li
        a(href="#") Nitrogliserin
    li
        a(href="#") Nodül
    li
        a(href="#") Nöroloji
    li
        a(href="#") Nöroşirürji
    li
        a(href="#") Obezite
    li
        a(href="#") Obsesyon
    li
        a(href="#") Obstrüksiyon
    li
        a(href="#") Ödem
    li
        a(href="#") Oftalmoloji
    li
        a(href="#") Onkoloji
    li
        a(href="#") Osteoporotik Kırıklar
    li
        a(href="#") Östrojen
    li
        a(href="#") Ovülasyon
    li
        a(href="#") Özefagus
    li
        a(href="#") Pankardit
    li
        a(href="#") Pankreas
    li
        a(href="#") Pankreatit
    li
        a(href="#") Paralizi
    li
        a(href="#") Parazit
    li
        a(href="#") Patella
    li
        a(href="#") Patoloji
    li
        a(href="#") Pediatri
    li
        a(href="#") Polidoymamış Yağ
    li
        a(href="#") Polip
    li
        a(href="#") Prostat
    li
        a(href="#") Prostatit
    li
        a(href="#") Pulmoner
    li
        a(href="#") Pulmoner Arter
    li
        a(href="#") Rabies
    li
        a(href="#") Radyoloji
    li
        a(href="#") Radyoterapi
    li
        a(href="#") Raşitizm
    li
        a(href="#") Rehabilitasyon
    li
        a(href="#") Respirasyon
    li
        a(href="#") Romatizma
    li
        a(href="#") Safra
    li
        a(href="#") Safra Kesesi
    li
        a(href="#") Şeker hastalığı (Diyabet)
    li
        a(href="#") Sinüzit
    li
        a(href="#") Sitoloji
    li
        a(href="#") Skolyoz (Skoliosis)
    li
        a(href="#") Talamus
    li
        a(href="#") Talasemi
    li
        a(href="#") Tartar
    li
        a(href="#") Tendon
    li
        a(href="#") Testosteron
    li
        a(href="#") Tromboz
    li
        a(href="#") Ülser
    li
        a(href="#") Ülseratif Kolit
    li
        a(href="#") Ultrasonografi
    li
        a(href="#") Üremi
    li
        a(href="#") Üroloji
    li
        a(href="#") Ürtiker
    li
        a(href="#") Uterus
    li
        a(href="#") Varis
    li
        a(href="#") Vazospazm
    li
        a(href="#") Vejeteryan
    li
        a(href="#") Ventrikül
    li
        a(href="#") Vertigo
    li
        a(href="#") Vitiligo
    li
        a(href="#") Yağ Embolisi
    li
        a(href="#") Yalancı Gebelik
    li
        a(href="#") Zatürree (Pnömoni)
    li
        a(href="#") Zeka Geriliği
