
footer#footer.navbar-default
	.container
		.row
			hr
			include socials
			hr
		.row
			.col-md-12
				.thumbnail.bg-danger.clearfix
					.col-md-4
						h2.text-white.text-uppercase.mt-2.mb-0 Newsletter
						p.text-white.my-0 Abonnez vous a notre newsletter
					.col-md-8
						form(action='', method='post', role='form').py-3
							.input-group
								input.form-control(type='text', id='', name='', placeholder='votre email')
								.input-group-btn
									button.btn.btn-default(type='submit')
										i.fa.fa-chevron-right
		.row
			.col-md-6.col-xs-12
				.navbar(role='navigation')
					ul.nav.navbar-nav.text-left
						li: a(href='#') Blog
						li: a(href='#') Biere
						li: a(href='#') Contactez nous
			.col-md-6.col-xs-12
				p.text-right.small.py-3.mb-0 Copyrights Wonderweb 2004 - 2018
	#toTop
		i.fa.fa-arrow-up

script(src="assets/js/jquery-1.10.0.min.js")
script(src="assets/js/bootstrap.min.js")
script(src="assets/js/bundle.js")