footer#footer.navbar-default
	.container
		.row
			.navbar(role='navigation')
				ul.nav.navbar-nav
					li: a(href='#') Blog de cuisine
					li: a(href='#') Paniers de fruits et légumes biologiques
					li: a(href='#') Recettes chocolats cuisine
					li: a(href='#') Spiruline Biologique
		.row
			p.text-center Copyrights Wonderweb 2004 - 2018
