#reccetesMenu.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-primary.mb-1
        #headingOne.panel-heading(role='tab')
            h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#reccetesMenu', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    | Recettes de liqueurs
        #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
                ul.nav
                    li
                        a(href='#') item 1
                    li
                        a(href='#') item 2
                    li
                        a(href='#') item 3
    .panel.panel-primary.mb-1
        #headingTwo.panel-heading(role='tab')
            h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#reccetesMenu', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    | Recettes de cuisine italienne (italie)
        #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
            .panel-body
                ul.nav
                    li
                        a(href='#') item 1
                    li
                        a(href='#') item 2
                    li
                        a(href='#') item 3
                    li
                        a(href='#') item 4
    .panel.panel-primary.mb-1
        #headingThree.panel-heading(role='tab')
            h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#reccetesMenu', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    | Recettes aux citrons
        #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
                ul.nav
                    li
                        a(href='#') item 1
                    li
                        a(href='#') item 2
                    li
                        a(href='#') item 3
                    li
                        a(href='#') item 4
    .panel.panel-primary.mb-1
        #headingFour.panel-heading(role='tab')
            h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#reccetesMenu', href='#collapseFour',
                aria-expanded='false', aria-controls='collapseFour')
                    | Recettes de digestifs
        #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
            .panel-body
                ul.nav
                    li
                        a(href='#') item 1
                    li
                        a(href='#') item 2
                    li
                        a(href='#') item 3
                    li
                        a(href='#') item 4
    .panel.panel-primary.mb-1
        #headingFive.panel-heading(role='tab')
            h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#reccetesMenu', href='#collapseFive',
                aria-expanded='false', aria-controls='collapseFive')
                    | Recettes de boissons
        #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
            .panel-body
                ul.nav
                    li
                        a(href='#') item 1
                    li
                        a(href='#') item 2
                    li
                        a(href='#') item 3
                    li
                        a(href='#') item 4
    .panel.panel-primary.mb-1
        #headingSix.panel-heading(role='tab')
            h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#reccetesMenu', href='#collapseSix',
                aria-expanded='false', aria-controls='collapseSix')
                    | Recettes de boissons pour l'apéritif
        #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
            .panel-body
                ul.nav
                    li
                        a(href='#') item 1
                    li
                        a(href='#') item 2
                    li
                        a(href='#') item 3
                    li
                        a(href='#') item 4
