.row
    .col-md-8.col-md-offset-2
        .row.px-3
            .col-md-4
                a.btn.btn-block.btn-social.btn-facebook.mb-1
                    i.fa.fa-facebook
                    | Partager sur Facebook
            .col-md-4
                a.btn.btn-block.btn-social.btn-twitter.mb-1
                    i.fa.fa-twitter
                    | Partager sur Twitter

            .col-md-4
                a.btn.btn-block.btn-social.btn-google.mb-1
                    i.fa.fa-google
                    | Google +

