ul.nav.nav-pills(role='tablist')
    li
        a.btn.btn-block.btn-social.btn-twitter
            i.fa.fa-twitter
            | Twitter
            span.badge 42
    li
        a.btn.btn-block.btn-social.btn-facebook
            i.fa.fa-facebook
            | Facebook
    li
        a.btn.btn-block.btn-social.btn-google
            i.fa.fa-google
            | Google +
            span.badge 42
    li
        a(href="#").btn.btn-block.btn-default
            i.fa.fa-print
    li
        a(href="#").btn.btn-block.btn-default
            i.fa.fa-envelope
    li
        a(href="#").btn.btn-block.btn-default
            i.fa.fa-comment

